.container{
    width: 100%;
    position: relative;
}

.rounder{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(108, 117, 125, 0.75);
    z-index: 0;
    top: 0;
    left: 0;

}

.zindex{
    z-index: 10;
}

.rounding{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 10px 0 0 0;
}

@media (max-width: 650px){
    .container{
        padding: 0;
    }
}

