.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    height: 100%;
}
.content{
    height: 400px;
    position: relative;
    object-fit: cover;
    height: 100%;
}

.zoombackground{
    background-color: #333;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    padding: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
} 

.zoomcontainer{
    width: 50%;
    height: 100%;
}

.img{
    width: 100%;
    margin: 0 auto;
    z-index: 10000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.514);
}

.imgbig{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.514);
    max-width: 1140px;
    z-index: 10000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.bigslidercontainer{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
}

.x{
    position: absolute;
    color: #fff;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.x:hover{
    transform: translateY(-2px);
}
.slider{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.close{
    width: 30px;
    height: 30px;
    margin: 20px;
    transition: all .1s ease-in;
    color: #6C757D;
}

.close:hover{
    transform: translateY(-1px);
    background-color: #FBB900;
}

.close{
    background-color: #6C757D;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
    height: 45px;
    width: 45px;
    padding: 10px;
    border-radius: 10px;

}

.zoomerbanner{
    margin-top: -60px;
    margin-bottom: 20px;
    z-index: 100;
}

.swipercontainer{
    width: 70%;
    height: 90%;
    position: relative;
}

.swiperopener{
    height: 550px;
    width: 585px;
    border-radius: 10px;
    margin-bottom: -40px;
}

@media(min-width: 1150px){
    .swiperopener{
        overflow: hidden;
    }
}

@media(max-width: 1140px){
    .swiperopener{
        height: auto;
        width: 100%;
    }
}

.autogigantlogo{
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 10;
}

.aglogo{
    height: 100px;
    width: 100px;
}

.zoomcloser{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.slidercontainer{
    width: 80%;
    height: 68px;
    display: flex;
    scroll-behavior: smooth;
    overflow-y: auto;
    height: auto;
    background-color: #6C757D;
}

.slidercontainer::-webkit-scrollbar{
    overflow-y: scroll;
}

.slimg{
    height: 90px;
    width: 140px;
    text-align:justify;
    object-fit: cover;
    margin-right: 10px;
    box-sizing: content-box;
    border: 2px solid transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #6C757D;
}

.zoomer{
    width: 60px;
    height: 60px;
    background-color: #6C757D;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 0;
    transition: all .1s ease-in;
}

.zoomericon{
    width: 30px;
    height: 30px;
    transition: all .1s ease-in;
}

.zoomer:hover .zoomericon{
    width: 35px;
    height: 35px;
}

.zoomer:hover{
    background-color: #FBB900;
}

.slimg:hover{
    border: 2px solid #FBB900;
    cursor: pointer;
}

.ImageSliderContainer{
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    height: 120px;
    align-items: center;
    position: relative;
    width: 95.5%;
    justify-content: space-between;
    z-index: 0 !important;
}

.slctainer{
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.zoomimg{
    height: 120px;
    width: 170px;
}

.zoomimage:hover{
    border: 3px solid #FBB900;
}

.zoomborder{
    border: 3px solid #FBB900;
}

.imagingbox{
    position: relative;
    background-color: green;
    width: 45%;
    margin: 0 auto;
    z-index: 10000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.imagingboxbig{
    position: relative;
    width: 70%;
    box-shadow: 7px 25px 20px rgb(0, 0, 0, 0.2);
    max-width: 1140px;
    z-index: 10000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.wasserzeichen{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 5vw;
    height: 5vw;
    margin: 20px;
}

.zoomimage{
    height: 120px;
    width: 170px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.zoomimagebig{
    box-shadow: 0 10px 40px #000;
    max-width: 1140px;
    z-index: 10000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.leftImageSliderArrowBig{
    background-color: #6C757D;
    height: 90px;
    margin-bottom: 18px;
    margin-left: 10px;
    width: 4%;
    padding: 25px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .05s ease-in;
}

.leftImageSliderArrowBig:hover{
    background-color: #FBB900;
}

.rightImageSliderArrowBig{
    transform: rotate(180deg);
    height: 90px;
    background-color: #6C757D;
    margin-bottom: 18px;
    margin-left: 10px;
    width: 4%;
    padding: 25px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;

}

.rightImageSliderArrowBig:hover{
    background-color: #FBB900;
}

.selectedslider{
    border: 2px solid #FBB900;
}

.right{
    z-index: 100;
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
    transform: rotate(180deg);
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #6C757D;
    border-radius: 10px;
    cursor: pointer;
    transition: all .05s ease-in;
}

.right:hover{
    background-color: #FBB900;
}



.left{
    z-index: 101;
    position: absolute;
    left: 20px;
    top: calc(50% - 20px);
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #6C757D;
    border-radius: 10px;
    cursor: pointer;
    transition: all .05s ease-in;
}

.left:hover{
    background-color: #FBB900;
}

.rightbig{
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
    transform: rotate(180deg);
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #6C757D;
    border-radius: 10px;
    cursor: pointer;
    transition: all .05s ease-in;
    color: #fff;
    z-index: 100000;
}

.rightbig:hover{
    background-color: #FBB900;
}

.leftbig{
    z-index: 1100;
    position: absolute;
    left: 20px;
    top: calc(50% - 20px);
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #6C757D;
    border-radius: 10px;
    cursor: pointer;
    transition: all .05s ease-in;
    color: #fff;
    z-index: 10000;
}

.leftbig:hover{
    background-color: #FBB900;
}

.counterbackground{
    width: 60px;
    height: 30px;
    background-color: #6C757D;
    position: absolute;
    right: 0;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 10px;
}

.zoomout{
    background-color: #6C757D;
    width: 60px;
    height: 60px;
    border-radius: 10px 0 10px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.zoomout:hover .zoomoutsvg{
    height: 35px;
    width: 35px;
}
.zoomoutsvg{
    height: 25px;
    width: 25px;
    transition: .1s ease-in;
}

.zoomout:hover{
    background-color: #FBB900;
}


.border{
    border: 2px solid #FBB900;
}

.selectslider{
    margin-top: 20px;
    z-index: 0;
}

.selectslider > div{
    display: flex;
    align-items: center;
}

.leftsliderarrow{
    margin-right: 5px;
    cursor: pointer;
    background-color: #6C757D;
    height: 67px;
    color: #fff;
    padding: 4px;
    border-radius: 10px 0px 0px 10px;
    transition: all .05s ease-in;
}

.leftsliderarrowzoom{
    margin-right: 5px;
    cursor: pointer;
    background-color: #6C757D;
    height: 120px;
    color: #fff;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    transition: all .05s ease-in;
    min-width: 45px;
}

.leftsliderarrowzoom:hover{
    background-color: #FBB900;
}

.rightsliderarrowzoom{
    margin-left: 5px;
    transform: rotate(180deg);
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    transition: all .05s ease-in;
    height: 120px;
    color: #fff;
    padding: 15px;
    background-color: #6C757D;
    display: inline-block;
    min-width: 45px;
}

/** Zoom Section **/

.rightsliderarrowzoom:hover{
    background-color: #FBB900;
}

.leftsliderarrow:hover{
    background-color: #FBB900;
}

.rightsliderarrow{
    margin-left: 5px;
    transform: rotate(180deg);
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    transition: all .05s ease-in;
    height: 67px;
    color: #fff;
    padding: 4px;
    background-color: #6C757D;
    display: inline-block;
}

.rightsliderarrow:hover{
    background-color: #FBB900;
}

.slider{
    width: 100%;
    height: 68px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.singleSliderSelectImage{
    width: 100px;
    height: 100%;
    position: relative;
    margin-right: 5px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.specialborderleft{
    border-radius: 0 10px 10px 0;
}

.specialborderright{
    border-radius: 10px 0px 0px 10px;
    margin: 0;
}

.showimg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
}

.imgboxbackground{
    position: absolute;
    width: 880px;
    max-width: 80vw;
    height: 700px;
    display: flex;
    z-index: 500000;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    background-color: #DFDFDF;
    border-radius: 10px;
    pointer-events: all;
    flex-direction: column;
    box-shadow: 0 2px 8px #000;
}

.imgboxbig{
    height: 500px;
    min-height: 200px;
    width: 800px;
    max-width: 80vw;
    position: relative;
    background-color: #555555;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1100;
}

.companyname{
    font-size: 13px;
}

.companylocation{
    font-size: 13px;
}

.werbung{
    display: flex;
    flex-direction: column;
}

.werbungtext{
    align-self: flex-end;
    font-size: 13px;
}

.werbeflaeche{
    width: 970px;
    height: 90px;
    background-color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 879px){
    .imgboxbig{
        height: 400px;
        width: 70vw;
    }
}

@media (max-width: 1200px){
    .imgboxbig{
        height: 400px;
        width: 70vw;
    }
}

.closebackground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    position: fixed;
}

.sliderbig{
    width: 100%;
    height: 68px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    pointer-events: all;
    z-index: 1200;
    margin-top: 20px;
}


.bigimage{
    z-index: 1100;
    object-fit: cover;
    overflow: hidden;
}

.zoomoutsvgbig{
    height: 25px;
    width: 25px;
    transition: .1s ease-in;
    z-index: 1005;
}

.sliderarrowbackground{
    background-color: #6C757D;
    width: 5%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    
}

.sliderarrowbackgroundright{
    background-color: #6C757D;
    width: 5%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    border-radius: 0 10px 10px 0;
}

.leftsliderarrowbig{
    cursor: pointer;
    z-index: 1007;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FBB900;
    width: 20px;
}

.counter{
    background-color: #6C757D;
    width: 80px;
    height: 40px;
    z-index: 10000;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0 10px 0 10px;
    overflow: hidden;
}


.rightsliderarrowbig{
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 1007;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FBB900;
    width: 40px;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    background-color: #6C757D;
    padding: 10px;
    
}

.dealerinfocontainer{
    height: 80px;
    background-color: #F1F2F3;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.dealerimg{
    background-color: #6C757D;
    height: 100%;
    width: 130px;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;

}

.companyname{
    color: #0067B8;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
}

.companylocation{
    color: #0067B8;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
}

.carinfocontainer{
    height: 100%;
    background-color: #F1F2F3;
    border-radius: 10px;
    overflow: hidden;
}

@media(max-width: 1140px){

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .content{
        height: 500px;
        width: 100%;
    }
}

@media (max-width: 1023px){
    .content{
        height: 600px;
    }
 
    .companyname{
        font-size: 11px;
    }

    .companylocation{
        font-size: 11px;
    }
}
