.langcontainer{
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-130px);
    display: flex;
    justify-content: center;
}

.langcontent{
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    margin-left: 10000px;
}

.languagesbar{
    background-color: #fff;
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 0;
}

.language{
    transition: all .09s ease-in;
}

.language:hover{
    color: #FBB900;
}

.logodesc{
    font-size: 13.6px;
    color: #fff;
}

.footericon{
    height: 30px;
    width: 30px;
    opacity: 100%;
    color: #6C757D;
    transition: all .1s ease-in;
}

.footericon:hover{
    color: #fff;
}

.backgroundfooterlinks{
    background-color: rgba(108, 117, 125, 0.85);
}