.openbarbackground{
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.closebar{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 11;
}

.openbar{
    width: 300px;
    min-height: 500px;
    border-radius: 30px;
    background-color: #F1F2F3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.heading{
    color: #6C757D;
}

.firstrow{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 70px;
    gap: 20px;
    border-bottom: 1px solid rgba(108, 117, 125, 0.5);
    color: #6C757D;
    font-size: 13px;
    margin-right: 7px;
}

.germanflag{
    margin-left: 5px;
}

.englishflag{
    margin-left: 10px;
}

.secondrow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    margin-top: 20px;
    gap: 15px;
}

.language{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.flag{
    width: 30px;
    height: 20px;
}

.langcontainer{
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-130px);
    display: flex;
    justify-content: center;
}

.langcontent{
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    margin-left: 10000px;
}

.languagesbar{
    background-color: #fff;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -130px;
    position: absolute;
}

.language{
    transition: all .09s ease-in;
    font-size: 13px;
}

.language:hover{
    color: #FBB900;
}

.logodesc{
    font-size: 13.6px;
    color: #fff;
}

.footericon{
    height: 30px;
    width: 30px;
    opacity: 100%;
    color: #6C757D;
    transition: all .1s ease-in;
}

.footericon:hover{
    color: #fff;
}

.backgroundfooterlinks{
    background-color: #6C757D;
}

.footerborder{
    border-right: 2px solid #6C757D;
    height: 100%;
}

.linkscontainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px !important;
    margin-top: 10px;
}

.linkprop{
    padding: 0 8px;
}

.linkpropfirst{
    padding: 0;
    padding-right: 10px;
}

.belowfootercontainer{
    display: flex;
    font-size: 12px;
    color: #fff;
    align-items: center;
    margin-top: 5px;
}

.worldicon{
    padding-left: 5px;
    padding-right: 5px;
}

.linkprop{
    display: block;
}

.linkgroup1{
    display: inline-block;
}

.linkgroup2{
    display: inline-block;
}

.linkgroup3{
    display: inline-block;
}
.world{
    margin-right: 5px;
}

@media (max-width: 1197px){

    .linkgroup3{
        display: block;
    }
    .linkproplast{
        padding-left: 0;
        margin-left: 0;
    }

    .linkpropper{
        border: none;
        margin-right: 0;
        padding-right: 0;
    }
}

@media (max-width: 1023px){
    .linkscontainer{
        padding: 30px;
        padding-top: 0;
    }
    
    .belowfootercontainer{
        display: flex;
        flex-direction: column;
    }

    .noborderright{
        margin-right: 0;
        padding-right: 0;
        border: none;
    }

}

@media (max-width: 904px){
    .linkgroup2{
        display: block;
    }

    .linkpropmiddle{
        margin-left: 0;
        padding-left: 0;
    }
}

@media(max-width: 574px){
    .borderright{
        margin-right: 10px;
        padding-right: 10px;
        border-right: 2px solid #6C757D;
    }

    .linkpropperfirst{
        margin-right: 0;
        padding-right: 0;
        border: none;
    }
}

@media(max-width: 492px){
    .linkscontainer{
        font-size: 10px !important;
    }
}

@media(max-width: 423px){
    .linkscontainer{
        font-size: 8px !important;
    }
}