.background{
    width: 100%;
    min-height: 100vh;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.imgcontainer{
    position: relative;
    width: 100%;
    height: 350px;
}

.companydescriptioncontainer{
    margin-top: 20px;
    display: flex;
}

.companydesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lineleft{
    width: 20px;
    height: 100%;
    background-color: #FBB900;
    border-radius: 5px;
    margin-right: 20px;
}

.desc1{
    font-size: 30px; 
    font-weight: bold;
    padding-bottom: 20px;
}

.desc2, .desc4{
    font-size: 20px;
    font-weight: 300;
}

.desc3, .desc5{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
}

.desc6{
    font-size: 15px;
    font-weight: 300;
}

/* MIDDLECONTAINER */

.middlecontainer{
    display: flex;
    margin-top: 20px;
}

.left{
    height: 200px;
    width: 50%;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding: 20px;
}

.right{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin-left: 20px;
    height: 200px;
}