.background{
    width: 100%;
    min-height: 100vh;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.imgcontainer{
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.companydescriptioncontainer{
    margin-top: 20px;
    display: flex;
}

.companydesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lineleft{
    width: 20px;
    height: 100%;
    background-color: #FBB900;
    border-radius: 5px;
    margin-right: 20px;
}

.desc1{
    font-size: 30px; 
    font-weight: light;
    padding-bottom: 20px;
}

.desc2, .desc4{
    font-size: 20px;
    font-weight: 300;
}

.desc3, .desc5{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}

.desc6{
    font-size: 16px;
    font-weight: 300;
}

/* MIDDLECONTAINER */

.middlecontainer{
    display: flex;
    margin-top: 20px;
    height: 278px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.left{
    height: 200px;
    width: 50%;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.left div{
    width: 60%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
}

.right{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin-left: 20px;
    height: 200px;
}

.leftheading{
    font-size: 30px;
    font-weight: 300;
}

.lefttext{
    font-size: 15px;
    font-weight: 300;
}

.leftbtn{
    background-color: #FBB900;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: all .1s ease-in;
}

.leftbtn:hover{
    background-color: #FFE497;
}

.ceo{
    position: absolute;
    height: 262px;
    width: 182px;
}

.ourteam{
    background-color: #F1F2F3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teamheading{
    font-size: 30px;
    font-weight: 300;
    align-self: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBB900;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 5px;
    margin-right: 10px;
}

.aligncenter{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}

.leftteam{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightteam{
    width: 70%;
}

@media (max-width: 1250px){
    .rightteam{
        width: 65%;
    }
}

@media(max-width: 1150px){
    .rightteam{
        width: 65%;
    }
}

@media (max-width: 1020px){
    .rightteam{
        width: 70%;
    }
}

@media(max-width: 1100px){
    .aligncenter{
        font-size: 17px;
    }
}

@media(max-width: 926px){
    .rightteam{
        width: 55%;
    }
}

/* FRAGEN */

.fragencontainer{
    background-color: #F1F2F3;
    min-height: 50vh;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.fragenheading{
    font-size: 30px;   
    font-weight: 300; 
    margin-bottom: 20px;
}

.fragecontainer{
    background-color: #fff;
    border-radius: 10px;
}

.frageheading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.expandopen{
    transform: rotate(180deg);
}

.fragedesc{
    padding: 20px;
    margin-bottom: 20px;
}

.fragedesclast{
    padding: 20px;
}

.marginbottom{
    margin-bottom: 20px;
    border: none !important;
}

/* Team */

@media(min-width: 1000){
    .rightteam{
        width: 30%;
    }
}

@media(max-width: 700px){
    .ourteam{
        display: flex;
        flex-direction: column;
    }

    .leftteam{
        width: unset;
    }

    .rightteam{
        width: 100%;
    }
}

@media (max-width: 1186px){
    .left{
        width: 100% !important;
    }

    .right{
        display: none;
    }

    .middlecontainer{
        margin-top: 20px;
        height: 278px;
        align-items: flex-end;
        position: relative;
        width: 100% !important;
    }
}

@media(max-width: 560px){
    .ceo{
        display: none;
    }

    .middlecontainer{
        height: unset;
    }

    .left div{
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        width: unset;
        
    }
}