.heading{
    font-size: 30px;
    font-weight: bold;
}

.description{
    font-size: 15px;
}

.sortandsearch{
    display: flex;
    width: 50%;
    margin-top: 20px;
}

.searchbtn{
    width: 100%;
    background-color: #6C757D;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.searchbtn span{
    margin-left: 10px;
}

.searchbtn:hover{
    background-color: #FBB900;
}

.brandcontainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    gap: 20px;
}

.brand{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #F1F2F3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.brand:hover{
    background-color: #F1F2F3;
}

.brandname{
    margin-bottom: 20px;
}

.searchicon{
    width: 20px;
    height: 20px;
}