.platzhalter{
    background-color: #6C757D;
    width: 980px;
    height: 120px;
    position: relative;

}

.zl{
    display: flex;
    font-size: 14px;
}

.zl1{
    margin-right: 5px;
}

@media (max-width: 555px){
    .zl{
        flex-direction: column
    }
}

.image{
    position: relative;
    margin-bottom: 20px;
    width: 980px;
}

.werbungtext{
    position: absolute;
    top: -17px;
    right: 0;
    font-size: 13px;
    color: #6C757D;
}

.middle{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
}

.backtoresults{
    color: #0067B8;
    display: flex;
    align-items: center;
}

.row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bluetext{
    margin-left: 10px;
    font-size: 14px;
}

.bluetext:hover{
    color: #FBB900;
    cursor: pointer;
}

.r1c1{
    min-width: calc(55% - 10px);
    width: calc(55% - 10px);
}
 
.typeanddate{
    display: flex;
    align-items: center;
    color: #0067B8;
    justify-content: space-between;
    margin: 5px 0;
}

.mg{
    margin: 0 10px;
}



.r1c2{
    min-width: calc(45% - 10px);
    width: calc(45% - 10px);
}

.dealerinfocontainer{
    height: 100px;
    background-color: #F1F2F3;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
}

.dealerimg{
    background-color: #6C757D;
    height: 100%;
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.companyname{
    color: #0067B8;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.companylocation{
    color: #0067B8;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.carinfocontainer{
    width: 100%;
    height: 100%;
    background-color: #F1F2F3;
    border-radius: 10px;
    overflow: hidden;
}

.pricerow{
    display: flex;
}

.price{
    width: 80%;
    height: 60px;
    background-color: #FBB900;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 10px 0;
    margin-right: 2px;
}
.nexttoprice{
    display: flex;
    width: 60%;
    height: 60px;
}

.svg{
    height: 32px;
    width: 30px;
}

.favorite{
    background-color: #6C757D;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 10px;
    margin-right: 2px;
    transition: .1s ease-in;
    cursor: pointer;
}


.favorite:hover{
    background-color: #FBB900;
}

.svgicon{
    height: 23px;
    width: 20px;
}

.svgcontainer{
    width: 150px;
    border-radius: 5px;
    padding-left: 15px;
    position: absolute;
    font-size: 13px;
    color: #0067B8;
    background-color: #fff;
    margin-top: 90px;
    z-index: 11;
    padding-top: 5px;
    padding-bottom: 5px;
}

.svgcontainerlast{
    border-radius: 5px;
    position: absolute;
    font-size: 13px;
    color: #0067B8;
    background-color: #fff;
    margin-top: 90px;
    z-index: 11;
    font-weight: normal;
    transition: all .06s ease-in;
    width: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.svgcontainerlast:hover, .svgcontainer:hover, .svgcontainershare{
    font-weight: bold;
}

.svgcontainershare{
    min-width: 135px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    font-size: 13px;
    color: #0067B8;
    background-color: #fff;
    margin-top: 227px;
    padding: 0px 15px;
    z-index: 11;
}

.downbutton{
    padding-top: 3px;
    padding-bottom: 3px;
}

.linebottom{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #F1F2F3;
    font-weight: normal;
    font-size: 13px;

}

.linebottomw{
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 13px;
}

.linebottomw:hover{
    font-weight: bold;
}

.linebottom:hover{
    font-weight: bold;
}

.svgicon{
    display: inline-block;
}

.triangle{
    position: absolute;
    background-color: #000;
    margin-top: 75px;
    background-color: #fff;
    z-index: 10;
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
}


.share{
    background-color: #6C757D;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    transition: .1s ease-in;
    cursor: pointer;
}

.share:hover{
    background-color: #FBB900;
}

.print{
    background-color: #6C757D;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 0 0;
    transition: .1s ease-in;
    cursor: pointer;
}

.print:hover{
    background-color: #FBB900;
}

.cartopinfo{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.carname{
    font-size: 25px;
    font-weight: bold;
}

.cardesc{
    font-size: 16px;
}

.l{
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 30px;
}

.g{
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 30px;
}

.infoabt{
    width: 45%;
}

.actinfo{
    font-weight: bold;
}

.whiteback{
    background-color: #F1F2F3;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.sendmail{
    background-color: #FBB900;
    color: #fff;
    height: 40px;
    width: 45%;
    border-radius: 10px;
    font-weight: bold;
    transition: all .1s ease-in;
}

.sendmail:hover{
    background-color: rgba(251, 185, 0, 0.5);
}

.call{
    background-color: rgb(251, 185, 0);
    color: #fff;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    font-weight: bold;
    transition: all .1s ease-in;
}

.call:hover{
    background-color: rgba(251, 185, 0, 0.5);
}

.greyback{
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 7px;
    padding-left: 30px;
    height: 100%;
    padding-bottom: 7px;
    color: #0067B8;
}

.row2{
    display: flex;
    justify-content: space-between;
}

.r2c2{
    width: 100%; /** Hier eine Veränderung notwendig **/
    background-color: #F1F2F3;
    padding: 20px;
    border-radius: 10px;
}

.textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.kontaktheading{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.textarea{
    margin-bottom: 20px;
}

.input{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;;
}

.checkcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkinput{
    margin-right: 20px;
    width: 25px;
    height: 25px;
    padding: 25px;
}

.yellowbtn{
    width: 100%;
    background-color: #FBB900;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .1s ease-in;
}

.yellowbtn:hover{
    background-color: rgba(251, 185, 0, 0.5);
}

.contactdesc{
    font-size: 12px;
}

.r2c1{
    width: 100%;
    background-color: #F1F2F3;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    min-width: calc(55% - 10px);
    width: calc(55% - 10px);
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.expand{
    height: 14px;
    width: 25px;
}

.expandnot{
    transform: rotate(180deg);
    height: 14px;
    width: 25px;
}

.basiscontainer div{
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1140px){
    .basiscontainer div{
        font-size: 13px;
    }
}

@media (max-width: 450px){
    .basiscontainer div{
        font-size: 10px;
    }
    .hubraumsub{
        top: -15px !important;
        left: 20px !important;
        margin-left: 20px !important;
    }

    .infoabout sub{
        position: relative !important;
        bottom: -14px !important;
    }
}

.infoabout{
    width: 50%;
}

.paragraph{
    font-size: 13px;
}

.infoabout sub{
    position: relative;
    vertical-align: sub;
    bottom: -18px;
}


.infoabout sup{
    position: relative;
    vertical-align: sub;
    margin-top: 8px;
}

.actualinfo sub{
    position: relative;
    vertical-align: sub;
    bottom: -18px;
}

.hubraumsub{
    position: relative;
    top: -20px;
    left: 45px;
    margin-left: 20px;
}

.actualinfo sup{
    position: relative;
    vertical-align: sub;
    bottom: 18px;
}

.actualinfo{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.sectionheadingsmall{
    height: 100%;
    font-weight: bold;
    transition: .1s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sectionheadingbig{
    font-size: 24px;
    font-weight: bold;
    transition: .1s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sub{
    margin-left: 8px;
}

.sectiontop{
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    cursor: pointer;
}

.section{
    border-top: 1px solid #fff;
    padding-top: 10px;
    cursor: pointer;
}


@media (max-width: 1140px){
    .row1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .r1c2{
        width: 50%;
        margin-bottom: 20px;
        width: auto;
    }

    .r1c1{
        width: 100%;
        margin: 0;
    }

    .row2{
        display: flex;
        flex-direction: column;
    }

    .r2c1{
        margin-bottom: 20px;
        width: 100%;
    }

    .r2c2{
        height: auto;
    }

    .hubraumsub{
        margin-left: 8px;
    }
}

@media (max-width: 475px){
    .price{
        font-size: 30px;
    }
}

@media (max-width: 370px){
    .price{
        font-size: 20px;
    }
}

@media (max-width: 515px){
    .call{
        font-size: 13px;
    }
    .sendmail{
        font-size: 13px;
    }
    .companyname{
        font-size: 20px;
    }
}

@media (max-width: 432px){
    .call{
        font-size: 11px;
    }

    .sendmail{
        font-size: 11px;
    }
}

@media (max-width: 560px){
    .zl1{
        display: block;
        align-self: flex-end;
    }

    .bl1{
        display: block;
        align-self: flex-start;
    }
}