.container{
    width: 100%;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.contentcontainer{
    background-color: #fff;
    word-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
}

.searcharea{
    background-image: url('./../public/rightfront.png');
    background-repeat: repeat;
    background-attachment: local;
    background-position: center;
    width: 100%;
    height: 297px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

.selectsection{
    width: 65%;
    padding: 20px;
    height: 100%;
    position: relative;
}

.sendarea{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jarea{
    display: flex;
    align-items: center;
    color: #fff;
}

.jarea input{
    margin-right: 10px;
}

.sendbtn{
    width: 60%;
    height: 50px;
    background-color: #FBB900;
    border-radius: 10px 0 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    transition: all .1s ease-in;
    cursor: pointer;
}

.sendbtn:hover{
    background-color: #FFE497;
}

.cars{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.car{
    height: 54.83px;
    width: 88.83px;
    color: #fff;
    cursor: pointer;
    transition: all .1s ease-in;
}

.car:hover{
    color: #FBB900;
}

/* SEARCHAREA COPIED*/
.searcharea{
    width: 100%;
    min-height: 297px;
    position: relative;
    padding: 0;
    display: flex;
    padding-bottom: 0;
    padding-right: 0;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    left: 0;
    top: 0;
    
}

.frontimage{
    height: 297px;
    width: 100%;
    background-color: blue;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('./../public/front.png');
    background-size: cover;
}


.selectioncontainer{
    width: 60%;
    height: 257px;
    margin-right: 20px;
}

.carlist{
    display: flex;
    justify-content: space-between;
}

.car{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limo{
    width: 88.28px;
    height: 28.81px;
    transition: all .1s ease-in;
}

.limo:hover{
    color: #FBB900;
    cursor: pointer;
}

.suv{
    width: 88.28px;
    height: 35.58px;
    transition: all .1s ease-in;
}

.suv:hover{
    color: #FBB900;
    cursor: pointer;
}

.marginright{
    margin-right: 20px;
}

.selectfields{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 13px;
    background-color: transparent;
    border: 1.5px solid #fff;
}

.input::placeholder{
    font-size: 13px;
    color: #6C757D
    ;
}

.searchicon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    height: 20px;
    width: 20px;
    color: #6C757D;
}

.suchbegriff{
    height: 40px;
    position: relative;
}

.erweitertesuche{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bolder{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    height: 35px;
    display: flex;
    align-items: center;
    color: #fff;
    transition: all .1s ease-in;
}

.bolder:hover{
    color: #FBB900;
    cursor: pointer;
}

.searchrow{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchbtn{
    background-color: #FBB900;
    height: 50px;
    min-width: 414px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 0  0 0;
    margin-left: 10px;
    transition: all .1s ease-in;
    cursor: pointer !important;
}

.searchbtn:hover{
    background-color: #FBB900 !important;
}

.swiperarea{
    background-color: #F1F2F3;
    width: 100%;
    min-height: 40vh;
    padding: 20px;
    padding-top: 60px;
}

.ad{
    background-color: transparent;
    min-height: 100%;
}

.homeswiper{
    height: 500px;
}

.weiterebtn{
    width: 100%;
    height: 40px;
    background-color: #6C757D;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .1s ease-in;
}
.weiterebtn:hover{
    background-color: #FBB900;
}

.row{
    padding-left: 50px;
    padding-right: 50px;
}

.lastarea{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}

.bigtext{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carscontainer{
    width: 100%;
    border-radius: 10px;
    background-color: #F1F2F3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #0067B8;
    font-size: 13px;
}

.iteml{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #0067B8;
    font-size: 13px;
    margin-top: 20px;
}

.marke{
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
}

.marke:hover{
    text-decoration: underline;
}

.modell{
    line-height: 15px;
    cursor: pointer;
}

.modell:hover{
    text-decoration: underline ;
}

.newslettercontainer{
    width: 100%;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.newsletterheading{
    font-size: 30px;
    font-weight: bold;
}

.newslettertext{
    font-size: 20px;
    margin-bottom: 10px;
    
}

.inputrow{
    display: flex;
    align-items: center;
    width: 70%;
}

.newsletterinput{
    width: 100%;
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

.mailbtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C757D;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all .1s ease-in;
}

.mailbtn:hover{
    background-color: #FBB900;
}