.container{
    width: 100%;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.content{
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #F1F2F3;
}

.desc{
    margin-bottom: 10px;
    font-size: 13px;
}
.secondcontent{
    width: 100%;
    height: 100%;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.sectionheading{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputfields{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 20px;
    font-size: 13px;
}

.inputfields::-webkit-inner-spin-button,
.inputfields::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.a{
    width: 80%;
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.b{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.generatekaufvertragbtn{
    height: 40px;
    background-color: #6C757D;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.generatekaufvertragbtn:hover{
    background-color: #FBB900;
}

.scdesc{
    margin-top: 20px;
}

.img{
    background-image: url('./../public/images/car-1.jpg');
    width: 100%;
    height: 300px;
    padding: 20px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.yellowbackground{
    background-color: #FBB900;
}

.downloadtemplate{
    height: 40px;
    background-color: #6C757D;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all .1s ease-in;
}

.border{
    border-radius: 10px 0 0 0;
    overflow: hidden;
}

.downloadtemplate:hover{
    background-color: #FBB900;
}

.half{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    margin-right: 20px;
}

.weiss{
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #F1F2F3;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.middleinput{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.middleinput:disabled{
    background-color: rgba(255,255,255,0.5);
    cursor: not-allowed;
}

.middleinputleft{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.middleinputleft:disabled{
    background-color: rgba(255,255,255,0.3);
    cursor: not-allowed;
}

.middleinputbottom{
    height: 30px;
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;

}

.middleinputbottom:disabled{
    background-color: rgba(255,255,255,0.3);
    cursor: not-allowed;
}

.inputlabel{
    width: 30%;
    margin-bottom: 10px;
    background-color: #fff;
    height: 30px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgba(108, 117, 125, 0.5);
}

.sup{
    color: #FBB900;
}

.whitecheck{
    color: #fff;
}

.blackcheck{
    color: #000;
    height: 10px;
    width: 10px;
    padding: 0px;
}

.textarea{
    width: 100%;
    padding: 20px;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 20px;
    font-size: 14px;
}

.textarea:focus{
    outline: #FBB900;
    border: 2px solid #FBB900;
}

.first{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}

.second{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.secondcontent{
    border-radius: 10px;
    overflow: hidden;
}

.top_row{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.leftrow{
    display: flex;
    align-items: center;
}

.backhome{
    color: #fff;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.backhome:hover{
    color: #FBB900;
    background-color: #fff;
}


@media(max-width: 400px){
    .text{
        font-size: 25px;
    }
}

@media(max-width: 1023px){
    .secondcontent{
        margin-top: 20px;
    }
}