.container{
    width: 100%;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.content{
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #F1F2F3;
    margin-top: 20px;
}

.info{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.bluetext{
    color: #0067B8;
    font-size: 13px;
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.downloadtext{
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
}

.b1{
    padding-left: 40px !important;
}

.br1{
    padding-left: 20px;
}

.euro{
    position: absolute;
    left: 20px;
    top: 10px;
    color: rgba(108, 117, 125, 0.7);
    font-size: 15px;
}

.desc{
    margin-bottom: 10px;
    font-size: 13px;
}
.secondcontent{
    width: 100%;
    height: 100%;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.sectionheading{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    line-height: 16px;
}

.smallsectionheading{
    margin-left: 20px;
    font-size: 13px;
    line-height: 13px;
}

.inputfields{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 20px;
    font-size: 13px;
}

.inputfields:disabled{
    background-color: rgba(255,255,255,0.5);
}

.inputfields::-webkit-inner-spin-button,
.inputfields::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.input:disabled{
    background-color: rgba(255,255,255,0.5);
}

.a{
    width: 80%;
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.b{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.generatekaufvertragbtn{
    height: 50px;
    background-color: #6C757D;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s ease-in;
    margin-top: 10px;
}

.generatekaufvertragbtn:hover{
    background-color: #FBB900;
}

.scdesc{
    margin-top: 20px;
}

.img{
    background-image: url('./../public/images/car-1.jpg');
    width: 100%;
    height: 300px;
    padding: 20px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.yellowbackground{
    background-color: #FBB900;
}

.downloadleft{
    width: 100%;
    border-right: 1px solid #fff;
    padding-right: 20px;
    line-height: 20px;
    height: 100%;
    margin-left: 20px;
}

.abovedownloadtemplate{
    background-color: #F1F2F3;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    text-align: start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: -14px;
}

.expandopen{
    transform: translateY(-4px);

}

.graybackground{
    background-color: #F1F2F3;
    padding: 20px;
    border-radius: 10px;
    padding-top: 20px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.blueboldtext{
    font-weight: bold;
    color: #0067B8;
    font-size: 15px;
}

.blue{
    color: #0067B8 !important;
    font-size: 13px;
}

.downloadtemplate{
    background-color: #F1F2F3;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    text-align: start;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    padding-left: 0px;
    padding-bottom: 12px;
    justify-content: space-between;
    cursor: pointer;
}

.download{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.downloadicon{
    color: #6C757D;
    height: 100%;
    width: 160px;
    transition: all .1s ease-in;
    padding: 20px;
}

.downloadbluetext{
    font-size: 13px;
    color: #0067B8;
    margin-bottom: 20px;
}

.recommend{
    width: 100%;
    background-color: #FFE497;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 32px;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.downloadbluetext:hover{
    text-decoration: underline;
}

.downloadicon:hover{
    color: #FBB900;
}


.border{
    border-radius: 10px 0 0 0;
    overflow: hidden;
}


.half{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    margin-right: 20px;
}

.weiss{
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #F1F2F3;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.middleinput{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.middleinput:disabled{
    background-color: rgba(255,255,255,0.5);
    cursor: not-allowed;
}

.middleinputleft{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.middleinputleft:disabled{
    background-color: rgba(255,255,255,0.3);
    cursor: not-allowed;
}

.middleinputbottom{
    height: 30px;
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;

}

.middleinputbottom:disabled{
    background-color: rgba(255,255,255,0.3);
    cursor: not-allowed;
}

.inputlabel{
    width: 30%;
    margin-bottom: 10px;
    background-color: #fff;
    height: 30px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgba(108, 117, 125, 0.5);
}

.sup{
    color: #FBB900;
}

.whitecheck{
    color: #fff;
}

.blackcheck{
    color: #000;
    height: 10px;
    width: 10px;
    padding: 0px;
}

.textarea{
    width: 100%;
    padding: 20px;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 20px;
    font-size: 14px;
}

.textarea:focus{
    outline: #FBB900;
    border: 2px solid #FBB900;
}

.first{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    margin-right: 10px;
    font-size: 13px;
}

.five{
    grid-column: 1 / 3;
}

.second{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.sellerpurchaserrow{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.sellerpurchaserrow div{
    width: 100%;
}

.sellercontainer{
    margin-right: 20px;
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.sellerpurchasserrowcontainer{
    margin-right: 20px;
}

.sellerpurchaserrow:nth-child(1){
    margin-right: 20px;
}

.secondcontent{
    border-radius: 10px;
    overflow: hidden;
}

.eighterinput{
    display: grid;
    column-gap: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.explanationcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.a1{
    grid-row: 0;
    grid-column: 1 / 3;
}

.smallgridleft{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.smallgridright{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.f1{
    grid-column: 1 / 3;
    height: 80px;
}

.g1{
    grid-column: 1 / 3;
    height: 80px;
}

.twentypxtop{
    margin-top: 20px;
}

.six{
    grid-row: 3;
    grid-column: 1 / 3;
}

.l{
    grid-row: 5;
    width: 100%;
    grid-column: 1 / 5;
}

.eleven{
    grid-row: 4;
    grid-column: 1 / 3;
}

.twelve{
    grid-row: 4;
    grid-column: 3 / 5;
}

.seven{
    grid-row: 3;
    grid-column: 3 / 5;
}

.ten{
    grid-row: 2;
    grid-column: 3 / 5;
}

.top_row{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.leftrow{
    display: flex;
    align-items: center;
}

.backhome{
    color: #fff;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.backhome:hover{
    color: #FBB900;
    background-color: #fff;
}

.left{
    min-width: 350px;
    max-width: 350px;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-right: 20px;
    max-height: 440px;
}

.sectionheader{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    transition: all .05s ease-in;
}

.fileicon{
    width: 17px;
    height: 19px;
    margin-right: 20px;
}

.filetext{
    font-size: 15px;
    font-weight: bold;
}

.leftpart{
    display: flex;
    align-items: center;
}

.unrotated{
    transform: rotate(0deg);
    height: 12px;
    width: 18px;
}

.sectionheaderopen{
    background-color: #FBB900;
    color: #fff;   
}

.rotated{
    transform: rotate(-90deg);
}

.row{
    display: flex;
}

.helprow{
    display: flex;
}

.secondcontentheading{
    font-size: 30px;
    font-weight: bold;
    color: #6C757D;
}

.secondcontentsubheading{
    font-size: 20px;
    font-weight: bold;
    color: #6C757D;
    margin-bottom: -12px;
}

.checkboxes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    margin-bottom: 20px;
}

.a2{
    grid-row: 1;
    grid-column: 1 / 3;
}

.b2{
    grid-row: 1;
    grid-column: 3 / 5;
}

.f2{
    grid-row: 2;
    grid-column: 3 / 5;
}

.c2{
    display: flex;
    align-items: center;
}

.sellerinputcontainer{
    width: 100%;
}

.sellerbottom{
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
}

.highleft{
    margin-right: 20px;
    height: 80px;
}

.highright{
    height: 80px;
}

@media(max-width: 400px){
    .text{
        font-size: 25px;
    }
}

@media(max-width: 1023px){
    .secondcontent{
        margin-top: 20px;
    }

    .helprow{
        display: flex;
        flex-direction: column;
    }

    .left{
        width: 100%;
        max-width: none;
    }


}

@media(max-width: 1300px){
    .downloadtemplate{
        display: flex;
        flex-direction: column;
        padding-left: 12px;
    }

    .downloadleft{
        width: 100%;
        border-right: none;
        line-height: 20px;
        height: 100%;
        border-bottom: 1px solid #fff;
        padding-bottom: 12px;
    }

}

@media(max-width: 1305px){
    .checkboxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .a2{
        grid-row: unset;
        grid-column: unset;
    }
    
    .b2{
        grid-row: unset;
        grid-column: unset;
    }
    
    .f2{
        grid-row: unset;
        grid-column: unset;
    }
    
    .c2{
        display: flex;
        align-items: center;
    }
}