.fontsize{
    font-size: 15px;
}

.fontsize::placeholder{
    font-size: 15px;
}

.fontsize13{
    font-size: 13px;
}

.fontsize13{
    font-size: 13px;
}

.fontsize20{
    font-size: 20px;
}

.loginbtn{
    width: 330px;
    background-color: #6C757D;
    transition: all .1s ease-in;
}

.loginbtn:hover{
    background-color: #FBB900;
}

.lineheight{
    line-height: 14px;
}

.haendlerloginbtn{
    margin-left: 8px;
}

@media (max-width: 400px){
    .loginbtn{
        width: 279px;
    }

    .haendlerloginbtn{
        margin-top: 10pxgi;
    }
}

.loginbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.shopwithline{
    margin-right: 10px;
    width: 28px;
    height: 25px;
}