.container{
    color: #6C757D;
}

.fontsize{
    font-size: 15px;
}

.fontsize::placeholder{
    font-size: 15px;
}

.fontsize13{
    font-size: 13px;
}

.fontsize20{
    font-size: 20px !important;
}

.fontsize30{
    font-size: 30px;
}

.loginbtn{
    width: 330px;
    background-color: #6C757D;
    transition: all .1s ease-in;
}

.loginbtn:hover{
    background-color: #FBB900;
}

.lineheight{
    line-height: 14px;
}

.haendlerloginbtn{
    margin-left: 8px;
}

@media (max-width: 400px){
    .loginbtn{
        width: 279px;
    }

    .haendlerloginbtn{
        margin-top: 10px;
    }
}

.loginbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.shopwithline{
    margin-right: 10px;
    width: 28px;
    height: 25px;
}

.haendlerloginbtn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C757D;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.haendlerloginbtn:hover{
    background-color: #FBB900;
}

.top_row{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.leftrow{
    display: flex;
    align-items: center;
}

.backhome{
    color: #fff;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.backhome:hover{
    color: #FBB900;
    background-color: #fff;
}

.sendbtnarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.lightbackground{
    background-color: #FFE497;
}

.loginbtn{
    width: 100%;
    margin-bottom: 10px;
}

.dealertext{
    line-height: 17px;
    width: 100%;
}

.logrow{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.forgot{
    height: 30px;
    display: flex;
    align-items: center;
}