.row{
    display: flex;
    width: 100%;
}

.left{
    display: flex;
    width: 100%;
    background-color: #F1F2F3;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
}

.right{
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.backto{
    color: #0067B8;
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.backto:hover{
    text-decoration: underline;
}

.backarrow{
    margin-right: 10px;
    width: 22.12px;
    height: 15px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.text{
    font-size: 15px;
    margin-bottom: 20px;
}

.sendarea{
    display: flex;
    align-items: center;
}

.sendbtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C757D;
    border-radius: 10px;
    margin-right: 20px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in;
}

.sendbtn:hover{
    background-color: #FBB900;
}

.acccheck{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.check{
    width: 29.65px;
    height: 25px;
    margin-right: 5px;
}

.link{
    color: #0067B8;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.threerowtext{
    position: absolute;
    left: 20px;
    top: 20px;
}

.first{
    background-color: #FBB900;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px 0 0  0;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin-bottom: 5px;
    width: 163px;
}

.second{
    background-color: #FBB900;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
    font-size: 30px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 192px;
}
.third{
    background-color: #FBB900;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
    font-size: 30px;
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    width: 210px;
}

.contentcontainer{
    min-height: 50vh;
}

@media (max-width: 1023px){
    .row{
        display: flex;
        flex-direction: column;
    }

    .right{
        margin-top: 20px;
        min-height: 400px;
    }
}