.container{
    width: 100%;
    min-height: 100vh;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
}

.topimg{
    position: relative;
    width: 970px;
    height: 250px;
    margin-bottom: 30px;
    
}

.sponsored{
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    height: 200px;
    padding-top: 10px;
}

.sponsorcard{
    position: relative;
    height: 368.5px;
}

.werbeanzeige{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
}

.werbeanzeigecard{
    position: absolute;
    right: 0;
    top: -18px;
    font-size: 13px;
}

.row{
    display: flex;
    width: 100%;
    height: 100%;
}

.c1{
    width: 250px;
    min-height: 400vh;
    margin-right: 20px;
}

.c1r1{
    height: 70px;
    width: 250px;
    background-color: #F1F2F3;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centeritems1{
    margin-left: 20px;
    line-height: 18px;
}

.anzahlAngeboteNummer{
    font-weight: bold;
}

.anzahlAngeboteText{
    font-size: 16px;
}

.c1r2{
    width: 250px;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.filter{
    position: relative;
    height: 25px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 13px;
    display: flex;
    padding-left: 10px;
    padding-top: 3px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.delx{
    position: absolute;
    top: calc(50% - 7.6px);
    right: 3px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.delfilters{
    width: 100%;
    height: 40px;
    background-color: #FBB900;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all .1s ease-in;
    
}

.werbungtext{
    margin-left: 919px;
    margin-bottom: 0px;
    font-size: 13px;
}

.delfilters:hover{
    width: 100%;
    height: 40px;
    background-color: #FFE497;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.savesearch{
    width: 100%;
    height: 40px;
    background-color: #FBB900;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.savesearch:hover{
    width: 100%;
    height: 40px;
    background-color: #FFE497;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.c1r3{
    width: 250px;
    background-color: #F1F2F3;
    border-radius: 10px; 
}

.basisdatenheading{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.sectionheading{
    font-size: 13px;
    font-weight: bold;
}

.openedExpand{
    transform: rotate(180deg);
}

.sectioncontainer{
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(108, 117, 125, 0.5);
}

.sectioncontainerclosed{
    padding: 0 20px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(108, 117, 125, 0.5);
}

.headingcontainer{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.checkboxgiga{
    height: 20px !important;
    width: 20px !important;
    margin-right: 10px;
    border-radius: 10px;
    outline: none !important;
    border: none !important;
}

.basiscontainer{
    margin-top: 10px;
}

.inputrowgiga{
    display: flex;
    align-items: center;
    position: relative;
}

.gigadraftimg{
    margin-right: 20px;
}

.selectcar{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 13px;
}

.selectmodel{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.varientinput{
    height: 40px;
    min-width: 100% !important;
    max-width: 100% !important;
    padding-left: 10px !important;
    box-sizing: border-box;
    border-radius: 10px;
}

.marginbottom label{
    font-weight: bold;
}

.varientinputsmaller{
    height: 15px !important;
    min-width: 15px !important;
    max-width: 15px !important;
    padding-left: 10px !important;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 4px !important;
    outline: none !important;
    border: none !important;
    border: 1px solid #fff !important;
}

.varientinput:focus{
    min-width: 100% !important;
    max-width: 100% !important;
    padding-left: 10px !important;
    margin-right: 10px !important;
}

.varientinputsmaller:focus{
    min-width: 15px !important;
    max-width: 15px !important;
    padding-left: 5px !important;
}

.addmodal{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addmodalsvg{
    height: 20px;
    width: 20px;
    margin-right: 10%;
}

.addmodaltext{
    font-size: 13px;
    font-weight: bold;
}

.marginbottom{
    font-size: 13px !important;
}

.halfselect{
    display: flex;
    align-items: center;
    min-width: 100% !important;
    max-width: 100% !important;
    justify-content: space-between;
    margin-bottom: -18px;
    font-size: 13px;
}

.smalltext{
    font-size: 13px;
}

.mgb{
    margin-bottom: 10px;
    font-size: 13px;
}

.mgb label{
    font-weight: bold;
}

.locdiv{
    position: relative;
    font-size: 13px;
}

.mylocation{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 5px;
}

.grnzcheck{
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex1{
    margin-right: 10px;
}

.flex2{
    margin-right: 10px;
}
.numvonbis{
    height: 38px;
    min-width: 50px !important;
    max-width: 50px !important;
    padding-left: 10px !important;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.numvonbis:focus{
    height: 38px;
    min-width: 50px !important;
    max-width: 50px !important;
    padding-left: 10px !important;
    box-sizing: border-box;
    border-radius: 5px;
}

.vonbisps{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.block{
    display: block;
    font-weight: bold;
}

.checkcenter{
    display: flex;
    align-items: center;
}

.flexverkaeuferart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexausstattung{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ausstattung{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.makemid{
    margin-top: 3.6px;
}

.ausblendencontainer{
    display: flex;
    align-items: center;
}

.ausblendencontainer span{
    font-weight: bold;
    font-size: 13px;
}

.removecircle{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.beige{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #CBA863 !important;
    color: #CBA863 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.blau{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #285EC9 !important;
    color: #285EC9 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.schwarz{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #000 !important;
    color: #000 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.gold{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #E5A000 !important;
    color: #E5A000 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.braun{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #734614 !important;
    color: #734614 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.silber{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #F3F3F3 !important;
    color: #000 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.silber:checked{
    border: 1px solid #000 !important;
}

.weiss:checked{
    border: 1px solid #000 !important;
}

.grau{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #BCBCBC !important;
    color: #BCBCBC !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.fontsize13{
    font-size: 13px;
}

.weiss{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #FFFFFF !important;
    color: #000 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.gruen{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #1E9411 !important;
    color: #1E9411 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.gelb{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #FFEE00 !important;
    color: #FFEE00 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.orange{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #FF5700 !important;
    color: #FF5700 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.bronze{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #EBB957 !important;
    color: #EBB957 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.rot{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #FF1414 !important;
    color: #FF1414 !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.violett{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background-color: #991DCC !important;
    color: #991DCC !important;
    cursor: pointer;
    outline: 1px solid #CCCCCC;
}

.colortext{
    transform: translateY(-10px);
}

.farben{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 17px;
}



.colortext{
    margin-right: 5px;
}

.farbencolumn{
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.farbencolumn2{
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.farbencolumn div{
    width: 100%;
    display: flex;
    align-items: center;
}

.farbencolumn span{
    transform: translateX(5px);
}

.farbencolumn span {
    font-size: 13px;
}

.farbencolumn2 span{
    font-size: 13px;
    margin-left: 5px;
}

.farbencolumn2 input{
    transform: translateY(2.5px);
}

.colorrow{
    display: flex;
    align-items: center;
}

.polsterfarben{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-bottom: 20px;
    margin-bottom: 17px;
    border-bottom: 1px solid #fff;
}

.polsterfarben div div input{
    transform: translateY(3px);
}

.gigaexplanation{
    position: absolute;
    background-color: white;
    width: 200px;
    height: 70px;
    right: -100px;
    top: -80px;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.triangle{
    width: 20px;
    height: 20px;
    z-index: 50;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    position: absolute;
    left: 10px;
    bottom: -6px;
}

.materiallabel{
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.materialcontainer div input{
    transform: translateY(2px);
}

.belowtext{
    display: block;
    font-size: 13px;
}

.farbecol1 div, .farbecol2 div, .farbecol3 div{
    margin-bottom: 5px;
}

.spantransformation{
    transform: translateY(1.5px);
}

.transformtocenter{
    transform: translateY(2.5px);
}

.linebottom{
    padding-bottom: 20px;
    margin-bottom: 17px;
    border-bottom: 1px solid #fff;
}

.noline{
    border: none;
}

.label{
    font-size: 13px;    
}

.marginbottomnone{
    margin-bottom: 0 !important;
}

.colortext1{
    cursor: pointer;
    font-weight: normal !important;
}

.marginbottom{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.sectioncontainerclosed2{
    padding: 0 20px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* C2 */

.c2{
    width: 100%;
    height: 100%;
}

.c2r1{
    background-color: #F1F2F3;
    height: 70px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.c2r1top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.c2r1top div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.c2r1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* C2R2 RESPONSIVE */

@media(max-width: 1322px){
    .c2r1{
        flex-direction: row;
        justify-content: unset;
        height: unset;
    }
    .c2r1bottom{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
    }

    .direktsuchecontainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sortierungcontainer{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 20px;

    }

    .view{
        position: absolute;
        height: 140px;
    }

}

/* C2R2 RESPONSIVE */

.backarrow{
    color: #0067B8;
    transform: rotate(90deg);
    margin-bottom: 5px;
}

.backarrowtext{
    margin-left: 10px;
    color: #0067B8;
    font-size: 15px;
    margin-bottom: 5px;
}

.question{
    margin-bottom: 5px;
}

.questiontext{
    margin-left: 10px;
    color: #0067B8;
    text-decoration: underline;
    font-size: 15px;
    margin-bottom: 5px;
}

.direktsuchecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.direktsuche{
    padding-left: 20px !important;
    height: 40px;
    width: 100%;
    margin-right: 10px;
    border-radius: 10px;
    min-width: 95%;
}

.direktsuche:focus{
    padding-left: 20px !important;
    padding-right: 0 !important;
    height: 40px;
    width: 95%;
    min-width: 95%;
    margin-right: 10px;
    border-radius: 10px;
}

.suchenbtn{
    background-color: #FFB900;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 80px;
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    height: 40px;
    transition: all .1s eain;
}

.suchenbtn:hover{
    background-color: #FFE497;
}

.searchicon{
    margin-right: 10px;
}

.sortierungcontainer{
    display: flex;
    align-items: center;
}

.gridview{
    height: 20px;
    width: 20px;
    color: #fff;
    z-index: 1000;
    cursor: pointer;
}

.listview{
    height: 20px;
    width: 20px;
    color: #fff;
    z-index: 1000;
    cursor: pointer;
}

.view{
    display: flex;
    background-color: #FFB900;
    align-items: center;
    min-height: 70px;
    min-width: 100px;
    justify-content: center;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    transition: all .1 ease-in;
}

.viewtype{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: rgb(108, 117, 125);
    left: 12px;
    transition: all 1s ease-in !important;
    -moz-transition: background 0.5s linear; /* Firefox 4 */
    -webkit-transition: background 0.5s linear; /* Safari and Chrome */
    -o-transition: background 0.5s linear; /* Opera */
    -ms-transition: background 0.5s linear; /* Explorer 10 */
}

.viewleft{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #6C757D;
    left: 12px;
    transition: all 1s ease-in !important;
    -moz-transition: background 0.5s linear; /* Firefox 4 */
    -webkit-transition: background 0.5s linear; /* Safari and Chrome */
    -o-transition: background 0.5s linear; /* Opera */
    -ms-transition: background 0.5s linear; /* Explorer 10 */
}

.viewright{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #6C757D;
    right: 12px;
    transition: all 1s ease-in !important;
    -moz-transition: background 0.5s linear; /* Firefox 4 */
    -webkit-transition: background 0.5s linear; /* Safari and Chrome */
    -o-transition: background 0.5s linear; /* Opera */
    -ms-transition: background 0.5s linear; /* Explorer 10 */
}

.erweitertselect{
    min-width: 50%;
    width: 250px;
    margin-right: 20px;
}

.ausstattung{
    font-size: 13px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(108, 117, 125, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.plusicon{
    height: 15px;
    width: 15px;
}

/* CAR LIST CONTAINER */

.carlistcontainer{
    margin-top: 20px;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
}

.cardviewwrapper{
    display: flex;
    justify-content: center;
}

.gridlayout{
    display: grid;
    background-color: blue;
    margin-top: 20px;
    background-color: #F1F2F3;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    place-items: center;
    padding-top: 40px;
}

@media(max-width: 1232px){
    .gridlayout{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* AUSSTATTUNG */

.ausstattungContainer{
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.ausstattungencon{
    width: 70vw;
    height: 70vh;
    background-color: #F1F2F3;
    padding: 20px;
    z-index: 1100;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.ausstattungencon div input{
    transform: translateY(2px);
}

.closex{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
    color: #fff;
    transition: all .1s ease-in;
}

.closex:hover{
    top: 16.5px;
    right: 16.5px;
    cursor: pointer;
    color: #FBB900;
    height: 20px;
    width: 20px;

}