.container{
    width: 100%;
    min-height: 100vh;
    background-color: #6C757D;
    display: flex;
    justify-content: center;
}

.contentcontainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 100vh;
}

.row1{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto-Condensed', sans-serif;
    font-weight: 300;
}

.r1c1{
    width: 50%;
    min-height: 500px;
    margin-right: 20px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.boldp{
    font-weight: bold;
    margin-bottom: 30px;
}

.p1{
    margin-bottom: 30px;
}

.lineleftcontainer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.lineleft{
    width: 10px;
    height: 75px;
    background-color: #FBB900;
    border-radius: 5px;
    margin-right: 20px;
}

.r1image{
    position: relative;
    width: 50%;
    min-width: 500px;
    background-color: green;
    border-radius: 10px;
    overflow: hidden;
}