.container{
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    position: relative;
    transition: all .1s ease-in;
}

.container:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.314);
    cursor: pointer;
}

.img{
    position: relative;
    height: 100%;
    width: 275px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.price{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 10px 0 10px;
    background-color: #FBB900;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    width: 155px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #F1F2F3;
    border-radius: 0 10px 10px 0;
}

.title{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
}

.description{
    font-size: 15px;
    line-height: 15px;
}

.details{
    margin-top: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.detail{
    border-right: 1px solid #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.lastdetail{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.svg{
    margin-right: 3px;
}

.location{
    display: flex;
    color: #0067B8;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    height: 20px;
    width: 20px;
    color: #6C757D;
    transition: all .1s ease-in;
}

.lasticon{
    margin-right: 0 !important;
}

.i{
    height: 30px;
    width: 30px;
    border: 1px solid #6C757D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.b .icon{
    color: #6C757D ;
}

.b{
    border: 1px solid #6C757D ;
}

.b:hover{
    background-color: #FBB900;
}

.b:hover .icon{
    color: #fff;
}

.colorad{
    background-color: #FFE497;
    border-top: 2px solid #FBB900;
    border-right: 2px solid #FBB900;
    border-bottom: 2px solid #FBB900;
}

.interactions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

@media(max-width: 800px){
    .container{
        height: 100px;
    }

    .img{
        width: 200px;
    }

    .title{
        font-size: 15px;
        width: 100%;
    }

    .description{
        font-size: 12px;
    }

    .details{
        font-size: 12px;
    }

    .title{
        display: flex;
        align-items: flex-end;
        line-height: 18px;
    }

    .description{
        font-size: 12px;
        font-weight: normal;
        margin-left: 2px;
    }

    .location{
        font-size: 12px;
        margin-top: 0px;
    }

    .interactions{
        margin-top: 6.7px;
    }
    
    .i{
        height: 20px;
        width: 20px;
        padding: 1.8px;
    }

    .details{
        height: 20px;
        display: flex;
        align-items: center;
    }
}

