.top{
    width: 226px;
    height: 148px;
    position: relative;
}

.container{
    display: inline-block;
    margin-bottom: 35px;
    box-shadow: 0 2px 10px transparent;
    overflow: hidden;
    border-radius: 10px;
    cursor: auto;
    transition: all .1s ease-in;
    width: 225px !important;
}

.container:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.314);
    cursor: pointer;
}

.bottom{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
    
}

.title{
    font-size: 20px;
    font-weight: bold;
    cursor: text;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: -3px;
    border-bottom: 1px solid #f1f2f3;
    width: 81.1%;
    cursor: text;
}

.top{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    user-select: auto;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    user-select: auto;
    cursor: text;
    width: 90%;
}

.row{
    display: flex;
    border-bottom: 1px solid #f1f2f3;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companylocation{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #0067B8;
    user-select: auto;
    cursor: text;
}

.companyname{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #0067B8;
    user-select: auto;
    cursor: text;
}

.detail{
    border-right: 1px solid #f1f1f1;
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    user-select: auto;
    cursor: text;
    padding: 3px;

}

.detaillast{
    margin: 3px;
    user-select: auto;
    cursor: text;
}

.price{
    z-index: 100;
    width: 120px;
    height: 30px;
    background-color: #FBB900;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 0 0 0;
    font-size: 20px;
}

.actioncontainer{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    background-color: rgba(108, 117, 125);
    border-radius: 0 10px 0 10px;
}

.borderright:hover{
    background-color: #0067B8;
}

.svgcontainer{
    width: 145px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    top: 25px;
    z-index: 10000;
    color: #0067B8;
    cursor: pointer;
}

.svgcontainer:hover{
    font-weight: bold;
}

.triangle1{
    position: absolute;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    bottom: -20px;
}

.favoritesvgcontainer{
    width: 160px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    top: 25px;
    z-index: 1000;
    color: #0067B8;
    cursor: pointer;
    left: -60px;
}

.triangle2{
    position: absolute;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    bottom: -20px;
}

.favoritesvgcontainer:hover{
    font-weight: bold;
}

.sharesvgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #fff; 
    width: 170px;
    border-radius: 10px;
    right: 0;
    top: 25px;
    z-index: 1000;
    color: #0067B8;
}


.triangle3{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #fff;
    top: 25px;
}