.question{
    display: flex;
    justify-content: space-between;
    color: #0067B8;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 2px solid #fff;
    padding-right: 20px;
    cursor: pointer;
}

.point{
    margin-right: 20px;
}

.expandor{
    align-self: center;
    height: 7.85px;
    width: 18.83px;
    transition: all .1s ease-in;
}

.questiontext{
    justify-self: flex-start;
}



.unexpandor{
    transform: rotate(180deg);
    transition: all .1s ease-in;
}

.link{
    color: #0067B8;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.description{
    font-size: 15px;
    margin-bottom: 40px;
}
