.contactcontainer{
    height: 240px;
    width: 180px;
    border-radius: 10px;
    position: relative;
}

.imgsection{
    position: relative;
    overflow: hidden;
    height: 160px;
    width: 100%;
    background-color: #6C757D;
    border-radius: 10px 10px 0 0;
}

.sectionbelow{
    height: 80px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
}

.sectionbelow h1{
    font-weight: light;
    line-height: 15px;
    font-size: 15px;
}

.sectionbelow p{
    font-weight: 300;
    font-size: 13px;
}

.call{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    background-color: #FBB900;
    top: 135px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in;
    z-index: 100;
}

.call:hover{
    background-color: #FFE497;
    cursor: pointer;

}

.mail{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    background-color: #FBB900;
    top: 135px;
    left: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in;
    z-index: 100;
}

.mail:hover{
    background-color: #FFE497;
    cursor: pointer;
}

.aboutussvg{
    height: 23px;
    width: 23px;
}

.sectionbelow{
    background-color: #fff;
}