.container{
    padding: 25px;
    margin: 30px;
    background-color: #F1F2F3;
    border-radius: 10px;
    font-size: 13px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
    color: #6C757D;
    margin-bottom: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: #C3C3C3 2px solid ;
}

.zahnrad{
    height: 60px;
    width: 60px;
}

.haendlerlink{
    color: #0067B8;
    text-decoration: underline;
    font-size: 16px;
}

.c1{
    padding-right: 20px;
    margin-right: 20px;
    border-right: #C3C3C3 1px solid ;
    flex-basis: 0%;
}

.responsivec1{
    display: flex;
    flex-direction: row;
}

.c2{
    flex-basis: 80%;
}

.c3{
    padding-left: 20px;
    margin-left: 20px;
    border-left: #C3C3C3 1px solid ;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.mitgliedseit{
    color: #6C757D;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 20px;
}

.date{
    color: #6C757D;
    font-weight: bold;
    font-size: 20px;
    display: block;
    line-height: 20px;
}

.mitgliedschaftsvertraganzeigen{
    font-size: 13px;
    color: #0067B8;
    text-decoration: underline;
    text-align: right;
    line-height: 15px;
    cursor: pointer;
}

.link{
    color: #0067B8;
    text-decoration: underline;
}
.profileclosed{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
}

.profileopen div{
    transform: rotate(180deg);
}

.profileopen{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.expand{
    height: 10px;
    width: 17px;
}

.sectionheading{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.profileContent{
    transition: .2s ease-in;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

.row1{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F2F3;

}

.haendlerbereich{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #F1F2F3;
}

.haendlerbereichbtn{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #F1F2F3;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
}

.bildhochladen{
    flex-basis: 50%;   
}

.einverstaendnis{
    line-height: 14px;
}

.versicherung{
    margin-bottom: 10px;
    line-height: 14px;
}

.img{
    height: 145px;
    width: 145px;
    background-color: #6C757D;
    border-radius: 9999999999px;
    margin-right: 20px;
    overflow: hidden;
}

.einverstaendnisbtn{
    background-color: #FBB900;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F2F3;
}

.titelbild{
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F2F3;
    margin-right: 20px;
    width: 100%;
}

.titelbildupdate{
    flex-basis: 65%;
    text-align: left;
}

.titelbildheading{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transform: translateY(12px);
}

.titelbildauswahl{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.titelbildauswahlbtn{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: #F1F2F3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    order: 1;
}

.breaktitelbildgroesse{
    display: inline;
    margin-right: 5px;
}

.titelbildhochladenbtn{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBB900;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.titelbildeigenschaften{
    transform: translateY(-10px);
}

.settingson{
    height: 26px;
    width: 58px;
}

.settingsoff{
    width: 58px;
    height: 26px;
}

.row3{
    display: flex;
    flex-direction: column;   
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F2F3;
}

.desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bizimages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bizimage{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}

.bizimg{
    height: 128px;
    background-color: #F1F2F3;
    border-radius: 10px;
}

.fotoauswahlbtn{
    height: 40px;
    margin-top: 10px;
    background-color: #F1F2F3;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 13px;
}

.fotohochladenbtn{
    height: 40px;
    margin-top: 10px;
    background-color: #FBB900;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    justify-content: center;
    border-radius: 10px;
}

.settingsclosebtn{
    height: 30px;
    width: 30px;
    transform: translateX(330%) translateY(-50%);
}

.row4{
    margin-top: 20px;
}

.facebook{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.youtube{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.instagram{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.tiktok{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.linkedin{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.socialrow1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.socialrow2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialrow3{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facebookinputurl{
    border: 2px solid #F1F2F3;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
}
.youtubeinputurl{
    border: 2px solid #F1F2F3;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
}
.instagraminputurl{
    border: 2px solid #F1F2F3;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
}
.linkedininputurl{
    border: 2px solid #F1F2F3;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
}
.tiktokinputurl{
    border: 2px solid #F1F2F3;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
}

.socialc1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 100%;
}
.socialc2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.socialc3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceforbutton{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.savechanges{
    width: 100%;
    background-color: #FBB900;
    color: #fff;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}

.datarow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.datainput{
    padding-left: 10px;
    width: 100%;
    border: 2px solid #F1F2F3;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.finput{
    height: 40px;
    border: 2px solid #F1F2F3;
}

.fdatainput{
    padding-left: 10px;
    width: 40%;
    border: 2px solid #F1F2F3;
    margin-right: 5px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.sdatainput{
    padding-left: 10px;
    width: 56%;
    border: 2px solid #F1F2F3;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.savedatachanges{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #FBB900;
    color: #fff;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}

.datadesc{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ueberunstextarea{
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    min-height: 150px;
    border: 2px solid #F1F2F3;
    border-radius: 10px;
}

.saveueberunschanges{
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: #FBB900;
    color: #fff;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.radiobuttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #F1F2F3;
}

.dateihinzufuegenbtn{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #F1F2F3;
    color: #fff;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    color: #6C757D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.sendenbtn{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #FBB900;
    color: #fff;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.twobuttons{
    display: flex;
}

.clip{
    width: 27px;
    height: 25px;
    margin-right: 10px;
}

.paperplane{
    width: 26px;
    height: 22px;
    margin-right: 10px;
}

.gewerbeberechtigungtext{
    font-size: 14px;
    line-height: 16px;
}

.securitytwocolumns{
    display: flex;
    flex-direction: row;
}

.securityfirstcolumn{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #F1F2F3;
}

.securitysecondcolumn{
    flex-basis: 100%;
    font-size: 12px;
    line-height: 16px;
}

.securityinput{
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #F1F2F3;
    border-radius: 10px;
    margin-bottom: 20px;
}

.securitykontodeaktivierungsbtn{
    height: 40px;
    background-color: #6C757D;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 50%;
}

.securitykontoloeschenbtn{
    height: 40px;
    background-color: #FB0000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 50%;
}

.benachrichtigungseinstellungen{
    display: flex;
    flex-direction: column;
}

.benachrichtigungseinstellung{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #F1F2F3;
}

.users{
    display: flex;
    flex-direction: column;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #F1F2F3;
    padding-top: 20px;
}

.userleft{
    display: flex;
    align-items: center;
}

.profileimg{
    height: 50px;
    width: 50px;
    border-radius: 999px;
    background-color: #C3C3C3;
    margin-right: 20px;
}

.settingson{
    cursor: pointer;
}

.avatarselectionbackground{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    position: fixed;
}

.avatarselectionbox{
    height: 700px;
    width: 380px;
    background-color: #555555;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    position: relative;
    background-color: #6C757D;
    box-shadow: 1px 1px 1px #000;
    width: 75px;
    height: 75px;
    border-radius: 999px;
    margin: 5px;
    display: inline-block;
    border: 2px solid #F1F2F3;
    transition: .2s ease-in;
}

.avatar:hover{
    box-shadow: 1px 3px 5px #000;
    transform: translateY(-5px);
    border: 2px solid #FBB900;
}

.linebelow{
    padding-bottom: 10px;
    border-bottom: 1px solid #F1F2F3;
    margin-bottom: 10px;
}

.clsbtn{
    position: absolute;
    right: -20px;
    top: -25px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.clsbtnl1{
    width: 25px;
    height: 3px;
    border-radius: 999px;
    background-color: #000;
    left: 50%;
    bottom: 50%;

}
.clsbtnl2{
    width: 25px;
    height: 3px;
    border-radius: 999px;
    background-color: #000;
    left: 50%;
    bottom: 50%;
}

.selectFile{
    display: none;
}

.drop{
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border: dashed 3px #ccc;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
  }
  
  .active {
    border: dashed 3px dodgerblue;
  }
  
  .uploadMessage h3 {
    margin-top: 1rem;
  }
  
  .files {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
  
  .files + label {
    margin-top: 1rem;
    background-color: #0d6efd;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    text-align: center;
    user-select: none;
  }
  
  .files + label:focus,
  .files + label:hover {
    background-color: #0a58ca;
    color: #fff;
  }
  
  .files + label:focus {
    outline: 1px dotted #fff;
  }
  
  .uploadBtn {
    width: 100%;
    color: white;
    text-transform: uppercase;
    margin: 2rem;
    background-color: #0d6efd;
    border-radius: 4rem;
    cursor: pointer;
    padding: 0.75rem;
    text-align: center;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

@media (max-width: 1350px) {
    .titelbildauswahl{
        flex-direction: column;
    }

    .titelbildauswahlbtn{
        order: 1;
        font-weight: bold;
    }

    .breaktitelbildgroesse{
        display: inline;
        margin-right: 5px;
    }

    .titelbild{
        align-self: flex-end;
    }
}

@media (max-width: 1250px){
    .row1{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 1px solid #F1F2F3;
    }

    .haendlerbereich{
        display: flex;
        justify-content: space-between;
        padding-right: none;
        margin-right: none;
        border-right: none;
        padding-bottom: 20px;
    }
}

@media (max-width: 1150px){
    .row2{
        flex-direction: column;
    }

    .titelbild{
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 16px;
    }

}

@media (max-width: 650px){
    .responsivec1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .c1{
        border: none;
        margin-bottom: 20px;
    }

    .c2{
        border: none;
    }

    .haendlerbereich{
        flex-direction: column;
        justify-content: center;
    }

    .haendlerbereichbtn{
        width: 100%;
    }

    .profileImg{
        margin-bottom: 20px;
    }

    .container{
        margin: 0;

    }

    .spaceforbutton{
        display: none;
    }

    .radiobuttons{
        display: flex;
        flex-direction: column;
    }

    .fdatainput{
        padding-left: 10px;
        width: 100%;
        border: 2px solid #F1F2F3;
        margin-right: 0;
        margin-bottom: 20px;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
    }
    
    .sdatainput{
        padding-left: 10px;
        width: 100%;
        border: 2px solid #F1F2F3;
        margin-right: 0;
        margin-bottom: 20px;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
    }

    .datainput{
        padding-left: 10px;
        width: 100%;
        border: 2px solid #F1F2F3;
        margin-bottom: 20px;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
    }

    .securitykontodeaktivierungsbtn{
        height: 40px;
        background-color: #6C757D;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
    }
    
    .securitykontoloeschenbtn{
        height: 40px;
        background-color: #FB0000;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
    }

    .desc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .socialactive{
        order: 1;
    }
    
    .desctext{
        margin-bottom: 10px;
    }

    .socialrow1{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
        margin-bottom: 0;
    }
    
    .socialrow2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    
    .socialrow3{
        display: flex;
        margin-top: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
   
    .socialc1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        width: 100%;
        margin-top: 10px;
    }
    .socialc2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
    .socialc3{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .securitytwocolumns{
        display: flex;
        flex-direction: column;
    }
    
    .securityfirstcolumn{
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;
        order: 1;
    }
    
    .securitysecondcolumn{
        flex-basis: 100%;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
    }
}
