.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagecounter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.back{
    margin-right: 10px;
    width: 60px !important;
}

.pagecounter button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.pagecounter button:hover{
    background-color: #F1F2F3;
}

.forward{
    margin-left: 5px;
    width: 60px !important;
}

.selected{
    background-color: #F1F2F3;
    border: 1px solid #6C757D;
}

.shownadsperpage{
    display: flex;
    align-items: center;
    margin-top: 20px;
    z-index: 10000;
}

.shownadsperpage span{
    margin-right: 10px;
    font-size: 13px;
}