@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root{
  --swiper-navigation-color: #ccc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #808080;
  --swiper-navigation-color: #ccc;
}

::selection{
  background-color: #FFB900;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
input {
  outline: none;
}
[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(255,255,255)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
}
.blackChecked[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(0,0,0)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
}
.shadow-1 {
  box-shadow: 0 0 10px 0px #000;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}

.swiper:before,
.swiper:after {
  position: absolute;
  height: calc(100% - 40px);
  width: 32px;
  background: #666666;
  content: "";
  top: 20px;
  z-index: 2;
}
.swiper:before {
  right: 0;
}
.swiper:after {
  left: 0;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #fff;
  font-size: 22px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 2px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 2px;
}

.swiper.footer-swiper{
  padding: 0;
}
.swiper.footer-swiper::before,
.swiper.footer-swiper::after{
  display: none;
}

.google-map-container > div {
  width: 100% !important;
}
@media (max-width: 1366px) {
  .r-select {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .hero-content {
    background-image: url(/images/hero.jpg);
    background-size: cover;
    background-position: left bottom;
  }
}


.r-select.s-1__single-value{
  color: #6C757D;
  font-size: 16px;
}


.row {
  display: flex;
  background: #000;
  border-radius: 100px;
  border: 3px solid #FFB900;
}

.row:hover{
  border: 3px solid #fff;
}

.row input {
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border: none;
  padding: 0;
  width: 0;
  outline: none;
  transition: all 0.2s;
  letter-spacing: 0.5px;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin: 4px;
  border-radius: 50%;
  background: #000;
}
.icon i {
  position: absolute;
  color: #222222;
}
.icon .fa-xmark {
  opacity: 0;
}

.container:hover input,
.in:focus,
.in:not(:placeholder-shown) {
  width: 250px;
  padding-left: 1.5rem;
}

.white{
  color: #fff;
}

.searchicon{
  height: 15px;
  width: 15px;
}

.container:hover .fa-xmark,
input:focus ~ .icon .fa-xmark,
input:not(:placeholder-shown) ~ .icon .fa-xmark {
  opacity: 1;
  font-size: 20px;
}

.container:hover .fa-search,
input:focus ~ .icon .fa-search,
input:not(:placeholder-shown) ~ .icon .fa-search {
  opacity: 0;
}

.fontsize13{
  font-size: 13px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0; 
}

.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper::after {
  display: none;
}

.swiper::before{
  display: none;
}

.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 52% auto;
  background-position: center;
  cursor: pointer;
}
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 52% auto;
  background-position: center;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
  margin-bottom: -10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 20px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

